<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009715998179-ahbrrb56nqt6nq419q1h0aaniculci51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009715998179-ahbrrb56nqt6nq419q1h0aaniculci51</string>
	<key>API_KEY</key>
	<string>AIzaSyC_qVLPAQJXcYetZenLdv-mOkAx32pPPHU</string>
	<key>GCM_SENDER_ID</key>
	<string>1009715998179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathon</string>
	<key>PROJECT_ID</key>
	<string>hackathon-2b18f</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-2b18f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009715998179:ios:89ff0d6829bdb56d0304d6</string>
</dict>
</plist>